{% extends 'index.html' %}

{% block title %}
    Contact list View
{% endblock title%}

{% block content %}
       <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
               {% for foo in query %}
                    <h1>Message {{ foo.id }}</h1>
                    <br>
                    name: {{ foo.name }}
                    <br>
                    email: {{ foo.email }}
                    <br>
                    message: {{ foo.message }}
                    <br>

                    <a href="{% url 'contact_detail_view' foo.id %}" class="btn btn-primary">Show</a>

                {% endfor %}

            </div>
        </div>
    </div>
{% endblock content%}