{% extends 'index.html' %}

{% block title %}
    Contact Detail View
{% endblock title%}

{% block content %}
       <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>name: {{ object.name }}</p><br>
                <p>email: {{ object.email }}</p><br>
                <p>message: {{ object.message }}</p><br>
                <a href="/contact_messages/">Back to list</a>
            </div>
        </div>
    </div>
{% endblock content%}