{% extends 'index.html' %}
{% load static %}

{% block title%}
Home
{% endblock title %}

{% block content %}
    <body>
 <section class="section">
      <div class="section__container">
        <div class="content">

          <div class="text">
            <p class="subtitle">HELLO</p>
            <h1 class="title">
              I'm <span>Miah Angela To<br />a</span> Web Developer
            </h1>
            <p class="description">
              I'm Miah Angela To, a creative web developer dedicated to crafting beautiful, user-friendly websites.
              From personal blogs to e-commerce platforms, I've tackled a wide range of projects.
              Let's collaborate and bring your digital vision to life!
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock content %}