{% extends 'index.html' %}

{% block title%}
Resume
{% endblock title %}

{% block content %}
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="resume-section">
            <h2>Summary</h2>
            <p>
                I am an web developer with a passion for creating responsive and user-friendly websites.
                I have a background in HTML, CSS, Python, and other web technologies.
            </p>
        </div>

        <br>
        <div class="resume-section">
            <h2>Education</h2>
            <div class="resume-item">
                <h3>Bachelor of Science in Computer Engineering</h3>
                <p>Holy Angel University, 2026</p>
            </div>
        </div>

{#        <div class="resume-section">#}
{#            <h2>Work Experience</h2>#}
{#            <div class="resume-item">#}
{#                <h3>Web Developer</h3>#}
{#                <p>Company Name, 20XX - Present</p>#}
{#                <p>Responsibilities and achievements in this role.</p>#}
{#            </div>#}
{#            <div class="resume-item">#}
{#                <h3>Front-End Developer</h3>#}
{#                <p>Another Company, 20XX - 20XX</p>#}
{#                <p>Responsibilities and achievements in this role.</p>#}
{#            </div>#}
{#        </div>#}
        <br>
        <div class="resume-section">
            <h2>Skills(mema lang muna)</h2>
            <p>
                - HTML5, CSS3, JavaScript<br>
                - Responsive Web Design<br>
                - Version Control (Git)<br>
                - Web Development Frameworks (e.g., Bootstrap)<br>
                - Problem-Solving and Troubleshooting
            </p>
        </div>
    </div>

{% endblock content %}